<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head><script src="https://kit.fontawesome.com/cc494ed5e3.js" crossorigin="anonymous"></script>
<body>
    <header class="FondoAmarillo">
        <div>
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Cafetera">
        </div>
        <br>
            <form class="search bar" action="">
                <input type="text" placeholder="Buscar productos, marcas">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <br>
            <p class="compraEnCuotas">Comprá en cuotas y sin tarjeta de credito <i class="fa-solid fa-credit-card"></i></p>
            <nav>
                <br>
                <br>
                <div class="site_navbar">
                    <ul>
                        <li><a href="">Ofertas <i class="fa-solid fa-tags"></i></a></li>
                        <li><a href="">Tiendas Oficiales <i class="fa-solid fa-shop"></i></a></li>
                        <li><a href="">Vender <i class="fa-solid fa-sack-dollar"></i></a></li>
                        <li><a href="">Ayuda <i class="fa-solid fa-handshake-angle"></i></a></li>
                    </ul>
                    <BR>
                    <ul class="login_navbar">
                        <li><a href="">Crea tu cuenta <i class="fa-solid fa-user"></i> </a></li>
                        <li><a href="">Ingresa <i class="fa-solid fa-arrow-right"></i></i></a></li>
                        <li><a href="">Mis compras <i class="fa-solid fa-cart-arrow-down"></i></i></a></li>
                    </ul>
                </div>
                <br>
                <div class="burger-menu">
                <i class="fas fa-bars"></i>
                </div>
            </nav>
    </header>
    <main>
        <section >
            <img class="banner" src="/images/img-home-banner.jpg" alt="banner">
        </section>
        <section>
            <h1 class="basadoUltimaVisita">Basado en tu ultima visita</h1>
                <div class="producto">
                    <img class="imagen_producto" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <br>
                    <p class="nombreProducto">Cafetera Moulinex</p>
                </div>

                <div class="producto">
                    <img class="imagen_producto" src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                    <br>
                    <p class="nombreProducto">MacBook Pro 2019</p>
                </div>

                <div class="producto">
                    <img class="imagen_producto" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    <br>
                    <p class="nombreProducto">Samsung Galaxy S10</p>
                </div>

                <div class="producto"> 
                    <img class="imagen_producto" src="/images/img-tv-samsung-smart.jpg" alt="Smart TV">
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                    <br>
                    <p class="nombreProducto" >SmartTv Samsung 43"</p>
                </div>

        </section>
        <section>
            <h1>Ofertas</h1>
                <div class="producto">
                    <img class="imagen_producto" src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                    <br>
                    <p class="nombreProducto">MacBook Pro 2019</p>
                </div>
                <div class="producto">
                    <img class="imagen_producto" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    <br>
                    <p class="nombreProducto">Samsung Galaxy S10</p>
                </div>
                <div class="producto">
                    <img class="imagen_producto" src="/images/img-tv-samsung-smart.jpg" alt="Smart TV">
                    <i class="fa-solid fa-truck-fast"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                    <br>
                    <p class="nombreProducto">SmartTv Samsung 43"</p>
            </div>
    </section>
    </main>
    <footer class="contenedor-footer">
        <section>
                <img class="contenedor-icono" src="/images/logotarjeta.png" alt="tarjeta">
                <h5>Pagá con tarjeta o en efectivo</h5>
                <P>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</P>
            </article>
        </section>
        <section>
            <article>
                <img class="contenedor-icono" src="/images/logoregalo.png" alt="Regalo">
                <h5>Envío gratis desde $ 2.500</h5>
                <P>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</P>
            </article>
        </section>
        <section>
            <article>
                <img class="contenedor-icono" src="/images/logoseguridad.png" alt="Seguridad">
                <h5>Seguridad, de principio a fin</h5>
                <P>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</P>
            </article>
        </section>
        <section>
            <article class="contenedor-Copyright">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </section>
    </footer>
</body>
</html>