<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/public/css/estilos.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <header class="FondoAmarillo">
        <div>
            <img class="logo" src="/public/images/logo-mercado-liebre.svg" alt="Cafetera">
        </div>
        <br>
            <form action="">
                <input type="text" placeholder="Buscar productos, marcas">
                <button>Buscar</button>
            </form>
            <br>
            <p>Comprá en cuotas y sin tarjeta de credito</p>
            <nav>
                <br>
                <ul type="none">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <br>
                <ul type="none">
                    <li><a href="">Crea tu cuenta</a></li>
                    <li><a href="">Ingresa</a></li>
                    <li><a href="">Mis compras</a></li>
                </ul>
                <br>
                <div class="burger-menu">
                <i class="fas fa-bars"></i>
                </div>
            </nav>
    </header>
    <main>
        <section>
            <article>
                <div class="Producto">
                    <img width= 300px src="/public/images/img-macbook-pro-2019.jpg" alt="MacBook">
                    <p>$230.000</p>
                    <p>20% off</p>
                    <H4>MacBook Pro 2019</H4>
                </div>
                <div class="Producto">
                    <img width= 300px src="/public/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                    <p>$70.500</p>
                    <p>10% off</p>
                    <H4>Samsung Galaxy S10</H4>
                </div>
                <div class="Producto">
                    <img width= 300px src="/public/images/img-tv-samsung-smart.jpg" alt="Smart TV">
                    <p>$23.200</p>
                    <p>5% off</p>
                    <H4>SmartTv Samsung 43"</H4>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="Producto">
                    <img width= 300px src="/public/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <H4>Cafetera Moulinex</H4>
                </div>
                <div class="Producto">
                    <img width= 300px src="/public/images/img-macbook-pro-2019.jpg" alt="MacBook">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                    <H4>MacBook Pro 2019</H4>
                </div>
                <div class="Producto">
                    <img width= 300px src="/public/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    <H4>Samsung Galaxy S10</H4>
                </div>
                <div class="Producto"> 
                    <img width= 300px src="/public/images/img-tv-samsung-smart.jpg" alt="Smart TV">
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                    <H4>SmartTv Samsung 43"</H4>
            </div>
            </article>
        </section>
    </main>
    <footer class="contenedor-footer">
        <section>
            <article>
                <img class="contenedor-icono" src="/public/images/logotarjeta.png" alt="tarjeta">
                <h5>Pagá con tarjeta o en efectivo</h5>
                <P>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</P>
            </article>
        </section>
        <section>
            <article>
                <img class="contenedor-icono" src="/public/images/logoregalo.png" alt="Regalo">
                <h5>Envío gratis desde $ 2.500</h5>
                <P>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</P>
            </article>
        </section>
        <section>
            <article>
                <img class="contenedor-icono" src="/public/images/logoseguridad.png" alt="Seguridad">
                <h5>Seguridad, de principio a fin</h5>
                <P>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</P>
            </article>
        </section>
        <section>
            <article>
                <h5 class="contenedor-Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
            </article>
        </section>
    </footer>
</body>
</html>